Practical_activities/flows__SCT1_profile.json
[
    {
        "id": "b8c620db2066a2b4",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "037f26bf245cd00d",
        "type": "inject",
        "z": "b8c620db2066a2b4",
        "name": "logrotate trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": "0.01",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 510,
        "y": 460,
        "wires": [
            [
                "5a12ec84d6dbf4ad"
            ]
        ]
    },
    {
        "id": "80df47bbf4eb9480",
        "type": "exec",
        "z": "b8c620db2066a2b4",
        "command": "mv",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 890,
        "y": 460,
        "wires": [
            [
                "c125ff856fd811a6"
            ],
            [],
            []
        ]
    },
    {
        "id": "c125ff856fd811a6",
        "type": "change",
        "z": "b8c620db2066a2b4",
        "name": "reset",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "5a12ec84d6dbf4ad",
        "type": "change",
        "z": "b8c620db2066a2b4",
        "name": "from-to",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"/home/emilio/iot/data/sensor_data.json /home/emilio/iot/data/sensor_data.json-\" & $replace($now(), \":\", \"-\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 460,
        "wires": [
            [
                "80df47bbf4eb9480"
            ]
        ]
    },
    {
        "id": "8c3842c3af602f27",
        "type": "influxdb out",
        "z": "b8c620db2066a2b4",
        "influxdb": "8c46beb4289a8e17",
        "name": "",
        "measurement": "PMCO2",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "lactea",
        "bucket": "sensordata",
        "x": 880,
        "y": 260,
        "wires": []
    },
    {
        "id": "1757e5931965f5bf",
        "type": "mqtt in",
        "z": "b8c620db2066a2b4",
        "name": "",
        "topic": "sensores/#",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "c2a671fa6c20d0ef",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 80,
        "wires": [
            [
                "6830cb0815ae3b13",
                "2386157db15f3f2e",
                "54dab56558c1491f"
            ]
        ]
    },
    {
        "id": "74e45f69a47a1fac",
        "type": "debug",
        "z": "b8c620db2066a2b4",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 80,
        "wires": []
    },
    {
        "id": "6830cb0815ae3b13",
        "type": "function",
        "z": "b8c620db2066a2b4",
        "name": "function 2",
        "func": "const parts = String(msg.topic || \"\").split(\"/\");\n\nif (parts.length < 3) {\n    node.warn(\"Invalid topic: \" + msg.topic);\n    return null;\n}\n\nlet data = msg.payload;\n\nif (Buffer.isBuffer(data)) {\n    data = data.toString(\"utf8\");\n}\n\nif (typeof data === \"string\") {\n    try {\n        data = JSON.parse(data);\n    } catch (err) {\n        node.warn(\"Invalid JSON: \" + data);\n        return null;\n    }\n}\n\nif (!data || typeof data !== \"object\" || Array.isArray(data)) {\n    node.warn(\"Payload must be an object\");\n    return null;\n}\n\nconst sensor = String(data.sensor_type || parts[1]);\nconst esp = String(data.board_id || parts[2]);\n\nconst fields = {};\n\nfor (const [key, rawValue] of Object.entries(data)) {\n    // Store these values as tags, not fields\n    if (key === \"sensor_type\" || key === \"board_id\") {\n        continue;\n    }\n\n    // Do not store nested objects or arrays\n    if (\n        rawValue !== null &&\n        typeof rawValue === \"object\"\n    ) {\n        continue;\n    }\n\n    const numericValue = Number(rawValue);\n\n    if (Number.isFinite(numericValue)) {\n        fields[key] = numericValue;\n    }\n}\n\nif (Object.keys(fields).length === 0) {\n    node.warn(\"There are no fields to write to InfluxDB\");\n    return null;\n}\n\nmsg.payload = [\n    fields,\n    {\n        esp: esp,\n        sensor: sensor\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 80,
        "wires": [
            [
                "74e45f69a47a1fac",
                "8c3842c3af602f27",
                "a69df86696498aad"
            ]
        ]
    },
    {
        "id": "a69df86696498aad",
        "type": "switch",
        "z": "b8c620db2066a2b4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "co2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 790,
        "y": 160,
        "wires": [
            [
                "0c94f947b48366f1"
            ]
        ]
    },
    {
        "id": "0c94f947b48366f1",
        "type": "debug",
        "z": "b8c620db2066a2b4",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 160,
        "wires": []
    },
    {
        "id": "2386157db15f3f2e",
        "type": "function",
        "z": "b8c620db2066a2b4",
        "name": "function 1",
        "func": "var t = new Date();\nvar dt = t.toLocaleDateString() + ' ' + t.toLocaleTimeString();\nmsg.payload = JSON.stringify(Object.assign({ time: dt }, msg.payload));\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 340,
        "wires": [
            [
                "ec260d1356cc6314"
            ]
        ]
    },
    {
        "id": "54dab56558c1491f",
        "type": "debug",
        "z": "b8c620db2066a2b4",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 320,
        "wires": []
    },
    {
        "id": "ec260d1356cc6314",
        "type": "file",
        "z": "b8c620db2066a2b4",
        "name": "",
        "filename": "/home/emilio/iot/data/sensor_data.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1060,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "8c46beb4289a8e17",
        "type": "influxdb",
        "hostname": "localhost",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "c2a671fa6c20d0ef",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.14.1",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "fca5ec0dab7712c7",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-influxdb": "0.7.0"
        }
    }
]