MING_stack/2_node-red_flows/flows_SDS011_novo.json
[
    {
        "id": "c85de89ec4a9a3e9",
        "type": "tab",
        "label": "SDS011 separado",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d380e2150ea0a9f3",
        "type": "serial in",
        "z": "c85de89ec4a9a3e9",
        "name": "",
        "serial": "5b1d11e33131a415",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "2cb2946b3a57dbcc"
            ]
        ]
    },
    {
        "id": "f86e3e08c35f15c3",
        "type": "debug",
        "z": "c85de89ec4a9a3e9",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 180,
        "wires": []
    },
    {
        "id": "2cb2946b3a57dbcc",
        "type": "function",
        "z": "c85de89ec4a9a3e9",
        "name": "decode",
        "func": "var t = new Date();\nvar dt = t.toLocaleDateString() + ' ' + t.toLocaleTimeString();\nvar buffer = msg.payload\nvar answer = { time: dt,\n                \"pm25\": (buffer[2] + buffer[3]*256) / 10.0,\n                \"pm10\": (buffer[4] + buffer[5]*256) / 10.0};\nmsg.payload = answer;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 160,
        "wires": [
            [
                "f86e3e08c35f15c3",
                "45892d558fee7ce2",
                "76ba7477045fd6e0",
                "3d0b387f73d23b63"
            ]
        ]
    },
    {
        "id": "45892d558fee7ce2",
        "type": "change",
        "z": "c85de89ec4a9a3e9",
        "name": "pm25",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.pm25",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "pm25",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 240,
        "wires": [
            [
                "39891f68e8053c34"
            ]
        ]
    },
    {
        "id": "76ba7477045fd6e0",
        "type": "change",
        "z": "c85de89ec4a9a3e9",
        "name": "pm10",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.pm10",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "pm10",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 300,
        "wires": [
            [
                "8877027f3e3f0b42"
            ]
        ]
    },
    {
        "id": "3d0b387f73d23b63",
        "type": "file",
        "z": "c85de89ec4a9a3e9",
        "name": "",
        "filename": "/home/harrison/iot/data/sds/SDS011.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 660,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "81e022cddba498c2",
        "type": "inject",
        "z": "c85de89ec4a9a3e9",
        "name": "Zerar graficos",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 590,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "39891f68e8053c34",
        "type": "ui-chart",
        "z": "c85de89ec4a9a3e9",
        "group": "7567db8d12f67e72",
        "name": "",
        "label": "chart",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 910,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "8877027f3e3f0b42",
        "type": "ui-chart",
        "z": "c85de89ec4a9a3e9",
        "group": "7567db8d12f67e72",
        "name": "PM10",
        "label": "chart",
        "order": 2,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 910,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "5b1d11e33131a415",
        "type": "serial-port",
        "name": "",
        "serialport": "/dev/ttyUSB1",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "500",
        "bin": "bin",
        "out": "interbyte",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "7567db8d12f67e72",
        "type": "ui-group",
        "name": "PM2.5",
        "page": "872d1c09e216e526",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "872d1c09e216e526",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "34bae51565188cd6",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "5c94488df6b38a46",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "34bae51565188cd6",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "5c94488df6b38a46",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "010807373455dd0a",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-serialport": "2.0.3",
            "@flowfuse/node-red-dashboard": "1.30.2"
        }
    }
]