MING_stack/2_node-red_flows/flows_SDS011 separado.json
[
    {
        "id": "c85de89ec4a9a3e9",
        "type": "tab",
        "label": "SDS011 separado",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "d380e2150ea0a9f3",
        "type": "serial in",
        "z": "c85de89ec4a9a3e9",
        "name": "",
        "serial": "5b1d11e33131a415",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "2cb2946b3a57dbcc"
            ]
        ]
    },
    {
        "id": "f86e3e08c35f15c3",
        "type": "debug",
        "z": "c85de89ec4a9a3e9",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 180,
        "wires": []
    },
    {
        "id": "2cb2946b3a57dbcc",
        "type": "function",
        "z": "c85de89ec4a9a3e9",
        "name": "decode",
        "func": "var t = new Date();\nvar dt = t.toLocaleDateString() + ' ' + t.toLocaleTimeString();\nvar buffer = msg.payload\nvar answer = { time: dt,\n                \"pm25\": (buffer[2] + buffer[3]*256) / 10.0,\n                \"pm10\": (buffer[4] + buffer[5]*256) / 10.0};\nmsg.payload = answer;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 160,
        "wires": [
            [
                "f86e3e08c35f15c3",
                "45892d558fee7ce2",
                "76ba7477045fd6e0",
                "3d0b387f73d23b63"
            ]
        ]
    },
    {
        "id": "bcf9aa294abf9c75",
        "type": "ui_chart",
        "z": "c85de89ec4a9a3e9",
        "name": "",
        "group": "2e7b447f8a602f27",
        "order": 3,
        "width": "6",
        "height": "6",
        "label": "PM2.5",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#b31e4b",
            "#2b5891",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 870,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "45892d558fee7ce2",
        "type": "change",
        "z": "c85de89ec4a9a3e9",
        "name": "pm25",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.pm25",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "pm25",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 240,
        "wires": [
            [
                "bcf9aa294abf9c75"
            ]
        ]
    },
    {
        "id": "76ba7477045fd6e0",
        "type": "change",
        "z": "c85de89ec4a9a3e9",
        "name": "pm10",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.pm10",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "pm10",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 300,
        "wires": [
            [
                "70549085b031f4d8"
            ]
        ]
    },
    {
        "id": "3d0b387f73d23b63",
        "type": "file",
        "z": "c85de89ec4a9a3e9",
        "name": "",
        "filename": "/home/iot/iot-systems/data/SDS011.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 660,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "81e022cddba498c2",
        "type": "inject",
        "z": "c85de89ec4a9a3e9",
        "name": "Zerar graficos",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 590,
        "y": 400,
        "wires": [
            [
                "bcf9aa294abf9c75",
                "70549085b031f4d8"
            ]
        ]
    },
    {
        "id": "70549085b031f4d8",
        "type": "ui_chart",
        "z": "c85de89ec4a9a3e9",
        "name": "",
        "group": "2e7b447f8a602f27",
        "order": 3,
        "width": "6",
        "height": "6",
        "label": "PM10",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#b31e4b",
            "#2b5891",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "5b1d11e33131a415",
        "type": "serial-port",
        "name": "",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "500",
        "bin": "bin",
        "out": "interbyte",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "2e7b447f8a602f27",
        "type": "ui_group",
        "name": "Particles",
        "tab": "06606e04da11687b",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "06606e04da11687b",
        "type": "ui_tab",
        "name": "SDS011",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]